@using Hotel.Domain.Entities
@model IEnumerable<Villa>
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"><i class="bi bi-view-stacked"></i> Villa List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-4">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Villa" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i>  Create New Villa
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Sqft
                </th>
                <th>
                    Occupancy
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Name</th>
                    <th>@item.Price</th>
                    <th>@item.Sqft</th>
                    <th>@item.Occupancy</th>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>
