<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/HotelWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/spinner.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css" />
    <style>
        .search-form {
            margin-left: auto; 
            max-height: 40px;
            width: 500px;
        }
        .Button {
            width: 250px;
        }
    </style>
    </head>
<body>
<header>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/resort.png" style="width: 35px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="me-2"><i class="bi bi-house"></i></span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Booking" asp-action="Index" asp-route-status="@SD.StatusApproved">
                                <span class="me-2"><i class="bi bi-journal-plus"></i></span>
                                <span>Booking</span>
                            </a>
                        </li> 
                        <li class="nav-item">
                            <button class="nav-link" onclick="toggleDarkMode()">
                                <span class="me-2"><i class="bi bi-moon-fill"></i></span>
                                <span>Dark Theme</span>
                            </button>
                        </li>
                     @*    <form class="d-flex search-form" role="search">
                            <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success Button" type="submit">Search</button>
                        </form> *@
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav> 
</header>
    <div class="">
        <main role="main" >
            <partial name="_Notifcation"/>
            <div class="loading spinner" style="display:none;"></div>
                @RenderBody()
        </main>
    </div>


<footer class="border-top footer">
    <div class="container text-center">
        Made With <i class="bi bi-heart-fill"></i> By Mohamed Zonkol
        </div>
</footer>
<script>
     
        function toggleDarkMode() {
            const htmlElement = document.querySelector('html');
            const currentTheme = htmlElement.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            htmlElement.setAttribute('data-bs-theme', newTheme);
          
        }
    </script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src ="//cdn.datatables.net/2.0.3/js/dataTables.min.js" asp-append-version="true"></script>
@*  <script src="~/js/jquery.unobtrusive-ajax.min.js"></script> *@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
