@using Microsoft.AspNetCore.Identity
@using System.Diagnostics.Eventing.Reader
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Logout" class="nav-link">
                <span class="me-2"><i class="bi bi-box-arrow-in-right"></i></span>
                <span>Logout</span>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
        </li>
    }
</ul>